##############################
# > Filetypes
##############################
*.env
*.log
oauth2_client-tokencache*

##############################
# > OSes
##############################
# OSX
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

##############################
# > IDEs
##############################
# Sublime
*projects
*.sublime-project
*.sublime-workspace

# Eclipse
*.pydevproject
.project
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/

##############################
# > Node
##############################
node_modules
.nvmrc

##############################
# > Python
##############################
*.py[co]
*.egg
*.egg-info
dist/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
.coverage
.tox
*.mo
.mr.developer.cfg
.ackrc

##############################
# > GeoData
##############################
*.dat
*.mmdb

##############################
# REPOS
##############################
frontend
node
development-certs
