    <script>
        function callbackName( json ) {  
          console.log(json);
            $(function() {
              $('#augurIDs').append( '<p>Device ID:</p> ' + '<p>' + augur.device.ID + '<p>' + '<p>Customer ID:</p> ' + '<p>' + augur.consumer.UID + '<p>'  );
            }); 
        console.log( augur.device.ID ); 
    }
    </script>
    <script
       async
        id="augur.js"
        data-callback="callbackName" 
        src="//cdn.augur.io/augur.min.js"
        data-warpspeed="{{warp}}"
        data-sendto="POST::http://testing123.augur.io/"
        data-silent="1">
    </script>
    <script> 
        var fingerprint = new Fingerprint().get();
        var fingerprint2 = new Fingerprint({canvas: true}).get();
        var fingerprint3 = new Fingerprint({screen_resolution: true}).get();
      $(function() {
        $('#fingerprintjs').append('<p>Device ID:</p> ' + '<p>' + fingerprint + '<p>' );
      });
    </script>
    <script> 
        var fingerprintjs2 = new Fingerprint2();

      fingerprintjs2.get(function(result) {
        if (typeof window.console !== 'undefined') {

        $(function() {
         $('#fingerprintjs2').append('<p>Device ID:</p>' + '<p>' + result + '<p>' );
        });
        }
      });
    </script>

<section>
	<article>
		<div class='titleSection'>
			<h3> Augur Technology </h3>
		</div >
		<div id="augurIDs" class='idSection'>  
		<!-- Augur DID and UID goes here-->
		</div> 
	</article>
	<article>
		<div class='titleSection'>
			<h3> FingerprintJS </h3>
		</div class='idSection'>
		<div id='fingerprintjs' class='idSection'> 
			<!-- Fingerprint js DID goes here -->
		</div>
	</article>
	<article>
		<div class='titleSection'> 
			<h3> FingerprintJS-2 </h3>
		</div class='idSection'>
		<div id='fingerprintjs2' class='idSection'> 
			<!-- FingerprintJS2 DID goes here -->
		</div>
	</article>
</section>
<a href="./pixel">Pixel Page </a>
<section class='bottom'>
<h1> Cross Browser, Cross Device... Recognition.  </h1>
</section>