<section class=top>
	<div>
		<img src="https://gust-production.s3.amazonaws.com/uploads/startup/panoramic_image/562313/logo_20_2B_20wordmark.png" alt="augurLogo">
	</div>
	<div class="example">
		<h1> ( Example Test ) </h1>
	</div>
</section> 

<section>
	<article>
		<div class='titleSection'>
			<h3> Augur Technology </h3>
		</div >
		<div id="augurIDs" class='idSection'>  
		<!-- Augur DID and UID goes here-->
		</div> 
	</article>
	<article>
		<div class='titleSection'>
			<h3> FingerprintJS </h3>
		</div class='idSection'>
		<div id='fingerprintjs' class='idSection'> 
			<!-- Fingerprint js DID goes here -->
		</div>
	</article>
	<article>
		<div class='titleSection'> 
			<h3> FingerprintJS-2 </h3>
		</div class='idSection'>
		<div id='fingerprintjs2' class='idSection'> 
			<!-- FingerprintJS2 DID goes here -->
		</div>
	</article>
</section>