<div class=header>
	<h3> Augur Example </h3>
</div>
<div id="augurIDs" class='idSections'>  </div> 

<div class=header> 
	<h3> FingerprintJS </h3>
</div>
<div id='fingerprintjs' class='idSections'> </div>

<div class=header> 
	<h3> FingerprintJS-2 </h3>
</div>
<div id='fingerprintjs2' class='idSections'> </div>
