<!DOCTYPE html>
<html>

  <head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/javascripts/fingerprint.js"></script>
  <script src="/javascripts/fingerprint2.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

    <title>"Augur Example"</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <header class=top> 
    <div>
      <img src="https://gust-production.s3.amazonaws.com/uploads/startup/panoramic_image/562313/logo_20_2B_20wordmark.png" alt="augurLogo">
    </div>
    <div class="example">
      <h1> ( Example Test ) </h1>
    </div>
  </header>

  <body>
    {{{body}}}
  </body>
</html>

 <!-- CODE THAT CAN BE USED WITH FAST CALLBACK TO MAKE SURE IT DOES NOT RUN TWICE.
                  let augurCalled = false;
                  var augurDevice = '';
                

          function callbackName(json) {
            console.log("WHOOOO" + JSON.stringify(json));
            if ( json ) {
              if (!augurCalled) {
                $(function() {
                  $('#augurIDs').append( '<br>' + 'Device ID: ' + augur.device.ID + '<br>' + 'Customer ID: ' + augur.consumer.UID  );
                }); 
                //RUN YOUR CODE
                augurCalled = true;
                                     console.log(augurDevice);
              } else {
                console.log('someething');
                //do nothing
              }
            }
          } -->