html {
	height: 100%;
}

body {
  margin: 0px;
  font-family: 'Lato', sans-serif;
  background-color: #134972;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
}

h1 {
	margin-left: 30px;
}

h3, p {
	margin-left: 20px;
}

a {
  color: #e2d12d;
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}

article {
	display: flex;
	justify-content: space-around;
}

img {
	height: 10vh;
	width: auto;
}

button {
	height: 20px;
	}

form {
	display: flex;
	justify-content: center;
	align-self: center;
	height: 100px;
}

input {
	height: 20px;
	margin: 0px 10px 0 10px;
}

.insideForm {
	align-self: center;
}

#augurIDs {
}

.idSection {
	width: 80vw;
	background-color: #134972;
	color: white;
	border-bottom: 1px solid white; 
}

.titleSection {
	width: 20vw;
	display: flex;
	justify-content: center;
	background-color: #134972;
	color: white;
	border-bottom: 1px solid white; 
}

.top {
	background-color: white;
	padding: 20px;
	display: flex;
	border-bottom: 4px solid black;
}

.example {
	width: 50vw;
	text-align: center;
	color: #134972;
}

.bottom {
	font-family: 'Indie Flower', cursive;
	color: white;
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;	
}

.pixel {
	text-align: center;
}

